h1 New pomodori

#timer data-timer=1500

== render 'form'

= link_to 'Back', pomodori_path

= content_for :javascripts do
  javascript:
    $('#timer').TimeCircles({ time: {
      Days: {show: false},
      Hours: {show: false},
      Minutes: { color: '#E64C3C' },
      Seconds: { color: '#E64C3C' }
    }, total_duration: 1500,
    use_background: false,
    direction: "Counter-clockwise"});

