.projects {

  .actions-column {
    text-align: right;
  }

  .list-group-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    font-size: 16px;

    .form-group {
      margin: 0;
      text-align: center;
    }
  }
}



#new_project {
  .form-group {
    width: 100%;
  }

  input {
    width: 100%;
    font-size: 18px;
  }
}

.new-project {
  margin-bottom: 1em;
}
