.tasks {
  .list-group-item {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .actions {
    text-align: center;
  }

  .start {
    margin-right: 5px;
  }

  .work-done {
    font-weight: bold;
    font-size: 16px;
  }

  #new_task {
    .form-group {
      width: 100%;
    }

    input {
      width: 100%;
      font-size: 18px;
    }
  }

  .new-task {
    margin-bottom: 1em;
  }

  .clear-padding {
    padding: 0 0;
  }
}
