.tasks {

  .done-row {
    width: 3%;
    padding: 0;
  }

  .list-group-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    font-size: 16px;

    .done {
      text-decoration: line-through;
    }

    .form-group {
      margin: 0;
      text-align: center;

      .checkbox {
        display: inline-block;
        margin: 0;
      }
    }
  }

  .actions {
    text-align: center;
  }

  .start {
    margin-right: 5px;
  }

  .work-done {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  #new_task {
    .form-group {
      width: 100%;
    }

    input {
      width: 100%;
      font-size: 18px;
    }
  }

  .new-task {
    margin-bottom: 1em;
  }

  .clear-padding {
    padding: 0 0;
  }

  .pomodori {
    margin-top: 1em;
  }
}
